<%- include('partials/header') %>

<h2>Welcome to Lyri<i class="fas fa-search text-drop"></i>uery</h2>

<%- include('partials/search') %>

<p class="mt-3">
  There are <strong><%= matches.length %></strong> lyrics containing "<%= query
  %>" in songs by
  <a href="/artist/<%= artist %>"
    ><%= artist ? artist : 'everyone in the database' %></a
  >.
</p>

<% if (matches.length > 0 ) { %>
<table class="table table-striped full-table table-hover" id="results-table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><a href="javascript:sortTable(0,'T');">Artist</a></th>
      <th scope="col"><a href="javascript:sortTable(1,'T');">Album</a></th>
      <th scope="col"><a href="javascript:sortTable(2,'N');">Track</a></th>
      <th scope="col"><a href="javascript:sortTable(3,'T');">Song</a></th>
      <th scope="col"><a href="javascript:sortTable(4,'N');">Year</a></th>
      <th scope="col"><a href="javascript:sortTable(5,'N');">Line</a></th>
      <th scope="col"><a href="javascript:sortTable(6,'T');">Lyric</a></th>
    </tr>
  </thead>
  <tbody>
    <% matches.forEach((match) => { %>
    <tr>
      <td><a href="/artist/<%= match.artist %>"><%= match.artist %></a></td>
      <td>
        <a href="/artist/<%= match.artist %>/<%= match.album %>"
          ><%= match.album %></a
        >
      </td>
      <td><%= match.trackNumber %></td>
      <td><a href="/song/<%= match.id %>"><%= match.title %></a></td>
      <td><%= match.year %></td>
      <td><%= match.lineNumber %></td>
      <td><%= match.line %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<!-- mobile users get a different table that looks better for them -->
<table class="table table-striped mobile-table table-hover" id="results-table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col">Song</th>
      <th scope="col">Year</th>
      <th scope="col">Line</th>
    </tr>
  </thead>
  <tbody>
    <% matches.forEach((match) => { %>
    <tr>
      <td><a href="/artist/<%= match.artist %>"><%= match.artist %></a></td>
      <td>
        <a href="/artist/<%= match.artist %>/<%= match.album %>"
          ><%= match.album %></a
        >
      </td>
      <td><a href="/song/<%= match.id %>"><%= match.title %></a></td>
      <td><%= match.year %></td>
      <td><%= match.lineNumber %></td>
    </tr>
    <tr>
      <td colspan="5"><%= match.line %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% }%>

<script src="/scripts/sort.js" type="text/javascript"></script>

<%- include('partials/footer') %>
