<%- include('partials/header') %>

<h2>Submit New Song</h2>

<p><form action="/submit" method="post">
  <div class="form-group d-flex flex-column">

  <label for='artist'>Artist <span class="text-danger">*</span></label>
  <input required class='form-control' type='text' id='artist' name='artist' value="<%= song.artist %>" />

  <label for='featured'>Featured Artist(s)</label>
  <input class='form-control' type='text' id='featured' name='featured' value="<%= song.featuredArtist %>" />

  <label for='title'>Song Title <span class="text-danger">*</span></label>
  <input required class='form-control' type='text' id='title' name='title' autocomplete='off' value="<%= song.title %>" />

  <label for='track'>Track Number <span class="text-danger">*</span></label>
  <input required class='form-control' type='text' id='track' name='track' autocomplete='off' value="<%= song.trackNumber %>" />
  
  <label for='album'>Album <span class="text-danger">*</span></label>
  <input required class='form-control' type='text' id='album' name='album' value="<%= song.album %>" />
    
  <label for='authors'>Author(s)</label>
  <input class='form-control' type='text' id='authors' name='authors' value="<%= song.authors %>" />
    
  <label for='year'>Year <span class="text-danger">*</span></label>
  <input required class='form-control' type='text' id='year' name='year' value="<%= song.year %>" />
    
  <label for='lyrics'>Lyrics <span class="text-danger">*</span></label>
  <textarea required class='form-control' type='text' id='lyrics' name='lyrics' rows='10'>
<% song.lyrics.forEach(line => { %><%= line %>
<% }) %></textarea>
  <button class="btn btn-primary" type="submit" name="songID" value="<%= song._id %>">Submit to Database</button></div>
</form></p>

<%- include('partials/footer') %>