<%- include('partials/header') %>

<h2>Update <i><%= song.title %></i> by <%= song.artist %></h2>

<p><form action="/update" method="post">
  <div class="form-group d-flex flex-column">

  <label for='artist'>Artist</label>
  <input class='form-control' type='text' id='artist' name='artist' value="<%= song.artist %>" />

  <label for='featured'>Featured Artist(s) <i>optional</i></label>
  <input class='form-control' type='text' id='featured' name='featured' value="<%= song.featuredArtist %>" />

  <label for='title'>Song Title</label>
  <input class='form-control' type='text' id='title' name='title' autocomplete='off' value="<%= song.title %>" />

  <label for='track'>Track Number</label>
  <input class='form-control' type='text' id='track' name='track' autocomplete='off' value="<%= song.trackNumber %>" />
  
  <label for='album'>Album</label>
  <input class='form-control' type='text' id='album' name='album' value="<%= song.album %>" />
    
  <label for='authors'>Author(s) <i>optional, names separated by commas only</i></label>
  <input class='form-control' type='text' id='authors' name='authors' value="<%= song.authors %>" />
    
  <label for='year'>Year</label>
  <input class='form-control' type='text' id='year' name='year' value="<%= song.year %>" />
    
  <label for='lyrics'>Lyrics</label>
  <textarea class='form-control' type='text' id='lyrics' name='lyrics' rows='10'>
<% song.lyrics.forEach(line => { %><%= line %>
<% }) %></textarea>
  <button class="btn btn-primary" type="submit" name="songID" value="<%= song._id %>">Update</button></div>
</form></p>

<%- include('partials/footer') %>